<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="phpStudy_FastCGI" />
            <add name="phpStudy_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\phpStudy\php52\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
