{wc:templates "index","header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/link.css"/>
<p>
	<br />
</p>
<div class="links_txt">
	<h3><b>首页友情链接</b></h3>
	<ul>
	{wc:loop $link_size $size}	
		<li><a href="{wc:$size['url']}" target="_blank">{wc:$size['name']}</a></li>
	{wc:loop:end}	
	</ul>
</div>
<div class="links_txt">
<h3><b>内页文字链接</b></h3>
<ul>
<li><a href="http://www.1y-tb.com/" target="_blank">网赚之家</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">乐淘淘</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">一元淘吧</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">一击必杀</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">海外代购</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">网站分类目录</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">闪牛1元淘</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">洒水车</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">1元淘商城</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">华商资讯</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">爱包邮网</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">返利网</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">广州美博会</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">香港空间</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">折多多网</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">云商城CMS</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">幸运1号</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">一元团购</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">外链</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">郑州礼品定制</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">家纺云</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">何金昌增高鞋</a></li>
<li><a href="http://www.1y-tb.com/" target="_blank">九块邮</a></li>
<li><a href="http://www.1y-tb.com/link" target="_blank">申请友链</a></li>
</ul>
</div>  
<!--<div class="links_txt">
	<h3><b>内页图片链接</b></h3>
	<ul>
	{wc:loop $link_img $img}	
		<li><a href="{wc:$img['url']}" target="_blank"><img src="{G_UPLOAD_PATH}/linkimg/{wc:$img['logo']}"/></a></li>
	{wc:loop:end}	
	</ul>
</div>  -->
<div class="links_exp">
	<h3><b>联系方式</b></h3>
	<p>本站名称：一元淘吧&nbsp; &nbsp;本站网址：<a href="http://www.1y-tb.com" target="_blank">http://www.1y-tb.com</a></p>
<p>首页友情链接要求：百度权重≥2，收录≥10  低于此放在此页（当百度权重大于≥2时。我们会第一时间移动至首页）对于小于2友链，希望大家理解！</p>  
<p>附注：申请链接请先在你的站首页做好本站的链接。&nbsp; &nbsp;业务合作QQ：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=534025364&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:534025364:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>534025364（注明友链合作）&nbsp; &nbsp; 友情链接邮箱：534025364@qq.com<br>
	</p>                 
</div>
{wc:templates "index","footer"}