{wc:templates "index","header"}
<table id="__01" width="1263" height="477" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="http://www.1ytb.cc/statics/templates/yungou/images/huodong/huodong_01.gif" width="1263" height="119" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://www.1ytb.cc/statics/templates/yungou/images/huodong/huodong_02.gif" width="1263" height="120" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://www.1ytb.cc/statics/templates/yungou/images/huodong/huodong_03.gif" width="1263" height="119" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://www.1ytb.cc/statics/templates/yungou/images/huodong/huodong_04.gif" width="1263" height="119" alt=""></td>
	</tr>
</table>
<!-- WPA Button Begin -->
<script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzMwMDAxODEzODhfMTQ3OTQ0XzMwMDAxODEzODhf"></script>
<!-- WPA Button End -->
{wc:templates "index","footer"}