
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>一元淘吧微信_中国最大1元淘平台,梦想从这里开始,支持创新的力量！一元淘吧-一元淘吧-1元淘 </title>
    <meta name="description" content="一元淘吧手机版，一元淘吧手机客户端，一元淘吧手机版，一元淘吧手机客户端，一元淘吧手机端软件，一元淘吧手机手机端软件，一元淘吧手机app，一元淘吧手机手机app，一元淘吧 " />
    <meta name="keywords" content="一元淘吧手机版，一元淘吧手机客户端，一元淘吧手机版，一元淘吧手机客户端，一元淘吧手机端软件，一元淘吧手机手机端软件，一元淘吧手机app，一元淘吧手机手机app，一元淘吧 " />
     <link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/app/Comm.css" />
    <link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/app/layout.css" />
    <script language="javascript" type="text/javascript" src="{G_TEMPLATES_JS}/JQuery132.js"></script>
</head>
<body>
    <div class="tContent">
        <div class="tMain">
            <div class="tHead">
                <ul>
                    <li class="tLogo"><a href="{WEB_PATH}" class="tHome"><img src="{G_UPLOAD_PATH}/app/logo.gif" /></a><img src="{G_UPLOAD_PATH}/app/line.gif" class="line" /><a href="{WEB_PATH}/single/weixie" title="微信关注" class="txt">微信关注</a></li>
                    <li class="tNav">
                        <a href="{WEB_PATH}" title="一元淘吧首页" class="tReturn">一元淘吧首页</a>
                        <a href="{WEB_PATH}/single/web" title="手机版"">手机版</a>
                        <a href="{WEB_PATH}/single/desktop" title="桌面版">桌面版</a>
                        <a href="{WEB_PATH}/single/weixie" title="微信关注" class="current">微信关注</a>
                </ul>
            </div>            
        </div>
 <div class="mPic2">
         	<div class="mPic">
                <ul>
                    <li class="pic1"></li>
                    <li class="pic2"></li>
                    <li class="pic3">没有安装微信？ <a href="http://weixin.qq.com/" title="点击这里下载安装" target="_blank">点击这里下载安装>></a></li>
                </ul>
            </div>
         </div>
         <div class="tMain">
            <div class="mMode">
                <div class="tTitle">关注方式</div>
                <ul>
                    <li>
                        <dd><img src="{G_UPLOAD_PATH}/app/pic_23.jpg" /></dd>
                        <dd class="mt60"><img src="{G_UPLOAD_PATH}/app/pic_24.jpg" /></dd>
                    </li>
                    <li>
                        <dd class="mt60"><img src="{G_UPLOAD_PATH}/app/pic_25.jpg" /></dd>
                        <dd><img src="{G_UPLOAD_PATH}/app/pic_26.jpg" /></dd>
                    </li>
                    <li>
                        <dd><img src="{G_UPLOAD_PATH}/app/pic_27.jpg" /></dd>
                        <dd class="mt60"><img src="{G_UPLOAD_PATH}/app/pic_28.jpg" /></dd>
                    </li>
                </ul>
            </div>
          </div>
        </div>
    </div>    
<p>{wc:templates "index","footer"} </p>
</body>
</html>

</body>
</html>