
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>手机版_1元淘</title>
    <meta name="description" content="1元淘是一种全新的购物方式，是时尚、潮流的风向标，能满足个性、年轻消费者的购物需求，由睿派电子商务有限公司注入巨资打造的新型购物网。" />
    <meta name="keywords" content="触屏,触屏版,触屏手机版,1元淘,1元购iphone,1元购电脑,1元购笔记本,1元购物,一元淘吧" />
    <link rel="stylesheet" type="text/css" href="CSS/Comm.css?date=140320" />
    <link rel="stylesheet" type="text/css" href="css/layout.css?date=20140103" />
	<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/Referrals.css"/>
    <script language="javascript" type="text/javascript" src="JS/JQuery132.js"></script>
</head>
<body>
    <div class="tContent">
        <div class="tMain">
            <div class="tHead">
                <ul>
                    <li class="tLogo"><a href="http://www.1ytb.cc/" class="tHome"><img src="images/logo.gif" /></a><img src="images/line.gif" class="line" /><a href="touch.html" title="手机版" class="txt">手机版</a></li>
                    <li class="tNav">
                        <a href="http://www.1ytb.cc/" title="一元淘吧首页" class="tReturn">一元淘吧首页</a>
                        <a href="mobile.html" title="Android版" class="current">Android版</a>
                        <a href="iphone.html" title="IPhone版">IPhone版</a>
						<a href="touch.html" title="触屏版">触屏版</a>
                        <a href="microchannel.html" title="微信关注">微信关注</a>
                </ul>
            </div>            
        </div>
        <div class="anBanner">
            <div class="anMain">
                <img src="images/img_03.jpg" />
                <img src="images/img_05.jpg" />
                <div class="anDown"><a href="http://app.1ytb.cc/download/1yju_Android_build.apk" title="Android客户端下载"></a><p>安卓V1.3&nbsp;&nbsp;2.69MB&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;适用于安卓1.6以上平台</p></div>
            </div>
        </div>
        <div class="anMain">
            <img src="images/img_07.jpg" />
            <img src="images/img_10.jpg" />
            <img src="images/img_11.jpg" />
            <img src="images/img_12.jpg" />
            <img src="images/img_14.jpg" />
            <img src="images/img_15.jpg" />
            <img src="images/img_16.jpg" />
            <img src="images/img_17.jpg" />
            <img src="images/img_18.jpg" />
            <img src="images/img_19.jpg" />
            <img src="images/img_20.jpg" />
            <img src="images/img_21.jpg" />
            <img src="images/img_22.jpg" />
            <img src="images/img_23.jpg" />
            <img src="images/img_24.jpg" />
            <img src="images/img_25.jpg" />
            <img src="images/img_26.jpg" />
            <img src="images/img_27.jpg" />
            <img src="images/img_28.jpg" />
        </div>
    </div>    
    <div class="footer_content">
   	<div class="footer_line"></div>
   	<div class="footservice">
   		<div class="support">
   			 <dl class="ft-newbie">
        <dt><span>新手指南</span></dt>
        <dd><b></b><a href='http://www.1ytb.cc/?/help/1' target='_blank'>了解1元淘</a></dd>
        <dd><b></b><a href='http://www.1ytb.cc/?/help/2' target='_blank'>常见问题</a></dd>
        <dd><b></b><a href='http://www.1ytb.cc/?/help/3' target='_blank'>服务协议</a></dd>
      </dl>
      <dl class="ft-newbie">
        <dt><span>1元淘保障</span></dt>
        <dd><b></b><a href='http://www.1ytb.cc/?/help/4' target='_blank'>1元淘保障体系</a></dd>
        <dd><b></b><a href='http://www.1ytb.cc/?/help/5' target='_blank'>正品承若</a></dd>
        <dd><b></b><a href='http://www.1ytb.cc/?/help/6' target='_blank'>安全支付</a></dd>
        <dd><b></b><a href='http://www.1ytb.cc/?/help/12' target='_blank'>隐私声明</a></dd>
      </dl>
      <dl class="ft-newbie">
        <dt><span>商品配送</span></dt>
        <dd><b></b><a href='http://www.1ytb.cc/?/help/7' target='_blank'>商品配送</a></dd>
        <dd><b></b><a href='http://www.1ytb.cc/?/help/8' target='_blank'>配送费用</a></dd>
        <dd><b></b><a href='http://www.1ytb.cc/?/help/9' target='_blank'>商品验货与签收</a></dd>
        <dd><b></b><a href='http://www.1ytb.cc/?/help/10' target='_blank'>长时间未收到商品</a></dd>
      </dl>
      <dl class="ft-newbie">
        <dt><span>1元淘帮助</span></dt>
        <dd><b></b><a href='http://www.1ytb.cc/?/help/14' target='_blank'>1元淘流程</a></dd>
        <dd><b></b><a href='http://www.1ytb.cc/?/help/15' target='_blank'>1元淘操作</a></dd>
        <dd><b></b><a href='http://www.1ytb.cc/?/help/16' target='_blank'>1元淘规则</a></dd>
      </dl>
      
<dl class="ft-fwrx">
   				<dt><span>服务热线</span></dt>
   				<dd class="ft-fwrx-tel"><i style="display: none;">0818-2180826</i></dd>
   				<dd class="ft-fwrx-time">周一至周五 8:30-18:30</dd>  
				<dd class="ft-fwrx-service">官方QQ：906656566</dd>				
		  </dl>
   			<dl class="ft-weixin">
   				<dt><span>微信扫一扫</span></dt>
   				<dd class="ft-weixin-img"><s></s></dd>
   				<dd class="gray02">关注1元淘免费抽大奖</dd>
   			</dl>
   		</div>
   	</div>
   	<div class="service-promise">
   		<ul>
   			<li class="sp-fair"><a href="http://www.1ytb.cc/?/help/4" target="_blank"><span>100%公平公正</span></a></li>
   			<li class="sp-wares"><a href="http://www.1ytb.cc/?/help/5" target="_blank"><span>100%正品保障</span></a></li>
   			<li class="sp-free-delivery"><a href="http://www.1ytb.cc/?/help/7" target="_blank"><span>全国免费配送</span></a></li>
   			<li class="sp-business service-promise-border-r0"><a href="http://www.1ytb.cc/?/single/business" target="_blank"><span>商务合作</span></a></li>
   		</ul>
   	</div>
</div><div class="footer">
	<div class="footer_links">
		<a  href="http://www.1ytb.cc/?/group">1元淘圈</a><b></b><a  href="http://www.1ytb.cc/?/help/1">关于1元淘</a><b></b><a  href="http://www.1ytb.cc/?/help/12">隐私声明</a><b></b><a  href="http://www.1ytb.cc/?/single/business">合作专区</a><b></b><a  href="http://www.1ytb.cc/?/link">友情链接</a><b></b><a  href="http://www.1ytb.cc/?/help/13">联系我们</a><b></b><a  href="http://www.1ytb.cc/?/api/plugin/get/egglotter">抽奖游戏</a><b></b> 
  	</div>
	<div class="copyright">Copyright  &copy; 2011 - 2015,  版权所有  1ytb.cc  <a href="http://www.miitbeian.gov.cn" target="_blank">鲁ICP备15039861号-1</a></div>
</div>
<div id="divRighTool" class="quickBack" style="display:none;">
	<dl class="quick_But">
		<dd class="quick_service" ><a id="btnRigQQ" class="quick_serviceA"><b>在线客服</b><s></s></a></dd>
		<dd class="quick_Collection"><a id="btnFavorite" href="javascript:void();"  class="quick_CollectionA"><b>收藏本站</b><s></s></a></dd>
		<dd class="quick_Return"><a id="btnGotoTop" href="javascript:void()" class="quick_ReturnA" ><b>返回顶部</b><s></s></a></dd>
	</dl>
</div>
<div id="divWechat" class="fixed_wx_r" style="display:none;">
	<a href="javascript:void(0);" class="fixed_wx_close"></a>
	<div class="ft-weixin-img"><s style="background:url('http://www.1ytb.cc/statics/templates/yungou/images/android.png') 0 0;"></s></div>
	<p>1元淘手机客户端</p>
</div>
{wc:templates "index","footer"}
