
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>一元淘吧手机版_中国最大1元淘平台,梦想从这里开始,支持创新的力量！一元淘吧-一元淘吧-1元淘 </title>
    <meta name="description" content="一元淘吧手机版，一元淘吧手机客户端，一元淘吧手机版，一元淘吧手机客户端，一元淘吧手机端软件，一元淘吧手机手机端软件，一元淘吧手机app，一元淘吧手机手机app，一元淘吧 " />
    <meta name="keywords" content="一元淘吧手机版，一元淘吧手机客户端，一元淘吧手机版，一元淘吧手机客户端，一元淘吧手机端软件，一元淘吧手机手机端软件，一元淘吧手机app，一元淘吧手机手机app，一元淘吧 " />
    <link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/app/Comm.css" />
    <link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/app/layout.css" />
    <script language="javascript" type="text/javascript" src="{G_TEMPLATES_JS}/JQuery132.js"></script>
</head>
<body>
    <div class="tContent">
        <div class="tMain">
            <div class="tHead">
                <ul>
                    <li class="tLogo"><a href="{WEB_PATH}" class="tHome"><img src="{G_UPLOAD_PATH}/app/logo.gif" /></a><img src="{G_UPLOAD_PATH}/app/line.gif" class="line" /><a href="{WEB_PATH}/single/web" title="手机版" class="txt">手机版</a></li>
                    <li class="tNav">
                        <a href="{WEB_PATH}" title="一元淘吧首页" class="tReturn">一元淘吧首页</a>
                        <a href="{WEB_PATH}/single/web" title="手机版" class="current">手机版</a>
                        <a href="{WEB_PATH}/single/desktop" title="桌面版">桌面版</a>
                        <a href="{WEB_PATH}/single/weixie" title="微信关注">微信关注</a>
                </ul>
            </div>            
        </div>
        <div class="anBanner">
            <div class="anMain">
                <img src="{G_UPLOAD_PATH}/app/img_03.jpg" />
                <img src="{G_UPLOAD_PATH}/app/img_05.jpg" />
                <div class="anDown"><a href="http://www.1ytb.cc/maitata_web.apk" title="Android客户端下载"></a><p>安卓V1.1&nbsp;&nbsp;2.14MB&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;适用于安卓1.6以上平台</p></div>
            </div>
        </div>
        <div class="anMain">
            <img src="{G_UPLOAD_PATH}/app/img_07.jpg" />
            <img src="{G_UPLOAD_PATH}/app/img_08.jpg" />
            <img src="{G_UPLOAD_PATH}/app/img_09.jpg" />
            <img src="{G_UPLOAD_PATH}/app/img_10.jpg" />
            <img src="{G_UPLOAD_PATH}/app/img_11.jpg" />
            <img src="{G_UPLOAD_PATH}/app/img_12.jpg" />
            
        </div>
    </div> 

<p>{wc:templates "index","footer"} </p>
</body>
</html>

</body>
</html>