<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="DC.title" content="一元淘吧新手视频教程" />
        <title>一元淘吧新手视频教程</title>
<body style="background:#000;">

        <object width="624" height="355" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
        <param value="http://cloud.video.taobao.com/play/u/1830613442/p/1/e/1/t/1/20149695.swf" name="movie">
        <param value="transparent" name="wmode">
        <param value="true" name="loop">
        <param value="high" name="quality">
        <embed width="624" height="355" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" swliveconnect="FALSE" quality="high" wmode="transparent" loop="true" src="http://cloud.video.taobao.com/play/u/1830613442/p/1/e/1/t/1/20149695.swf">
        </object>

</body>
</html>