 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>一元淘吧桌面版_中国最大1元淘平台,梦想从这里开始,支持创新的力量！</title>
    <meta name="description" content="一元淘吧是一种全新的购物方式，是时尚、潮流的风向标，低价尝试，惊喜回报，购物并且又能为公益做贡献，能满足个性、年轻消费者的购物需求，是寄娱乐、团购加预售的模式，由睿派电子商务有限公司注入巨资打造的新型购物网！" />
    <meta name="keywords" content="一元淘吧,一元淘吧,一元商城,1元商城,1元淘,1元淘网,一元购物,1元购物,一元团购,1元团购,一元淘吧手机,一元淘吧电脑,一元购物网,一元购,一元淘吧官网,一元夺宝 " />
    <link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/app/Comm.css" />
    <link rel="stylesheet" type="text/css" href="{G_TEMPLATES_CSS}/app/layout.css" />
    <script language="javascript" type="text/javascript" src="{G_TEMPLATES_JS}/JQuery132.js"></script>
</head>
<body>
    <div class="tContent">
        <div class="tMain">
            <div class="tHead">
                <ul>
                    <li class="tLogo"><a href="{WEB_PATH}" class="tHome"><img src="{G_UPLOAD_PATH}/app/logo.gif" /></a><img src="{G_UPLOAD_PATH}/app/line.gif" class="line" /><a href="{WEB_PATH}/single/desktop" title="桌面版" class="txt">桌面版</a></li>
                    <li class="tNav">
                        <a href="{WEB_PATH}" title="一元淘吧首页" class="tReturn">一元淘吧首页</a>
                        <a href="{WEB_PATH}/single/web" title="手机版">手机版</a>
                        <a href="{WEB_PATH}/single/desktop" title="桌面版" class="current">桌面版</a>
                        <a href="{WEB_PATH}/single/weixie" title="微信关注">微信关注</a>
                </ul>
            </div>            
        </div>
<div class="tImg2">
            <div class="tImg">
                <ul>
                    <li class="img1"></li>
                    <li class="img2"></li>
                    <li class="img3"><a href="{WEB_PATH}/maitata_desktop.exe" title="免费下载" target="_blank"></a></li>
                </ul>
            </div>
        </div>
        <div class="tMain">
            <div class="tStep">
                <div class="tTitle">下载安装只需两步</div>
                <ul>
                    <li>
                        <dd class="mt30"><img src="{G_UPLOAD_PATH}/app/pic_12.jpg" /></dd>
                        <dd><img src="{G_UPLOAD_PATH}/app/pic_14.jpg" /></dd>
                    </li>
                    <li>
                        <dd class="mt10"><img src="{G_UPLOAD_PATH}/app/pic_16.jpg" /></dd>
                        <dd><img src="{G_UPLOAD_PATH}/app/pic_18.jpg" /></dd>
                    </li>
                </ul>
            </div>
         </div>
    </div>    

<p>{wc:templates "index","footer"} </p>
</body>
</html>

</body>
</html>