{wc:templates "index","header"}
 
 <!--内容 开始-->
    
    <title>诚信保证 - 一元淘吧</title>
    <meta name="description" content="一元淘吧是一种全新的购物方式，是时尚、潮流的风向标，能满足个性、年轻消费者的购物需求，由深圳市中利保投资管理有限公司注入巨资打造的新型购物网。">
    <meta name="keywords" content="一元淘吧,1元购手机,1元购电脑,1元购笔记本电脑,1元购物,1元淘,一元淘吧">
    <link rel="stylesheet" type="text/css" href="./zzgs/index.css">  
    <!--banner图 -->
	<div class="a_banner1"></div>
	<div class="a_banner2"></div>
	<!--5个认证 -->
	<div class="a_container" id="rz1">
		<div class="a_identify a_left ad1">
			<dl>
				<dt><span class="a_logo"></span></dt>
				<dd class="a_head"><span>01</span> 机构信用认证</dd>
				<dd class="a_sm">机构信用代码是从信用的角度编制的用于识别机构身份的代码标识。</dd>
				<dd class="a_intro">机构信用代码是从信用的角度编制的用于识别机构身份的代码标识，共18位，它覆盖机关、事业单位、企业、社会团体及其他组织等各类机构，是各类机构的“经济身份证”为加强金融基础设施建设，不断提高金融服务水平，促进银行和机构的交流合作，助推经济和社会发展，中国人民银行总行建立了机构信用代码系统，由人民银行征信中心制发机构信用代码证。 
					<a href="http://www.pbccrc.org.cn/" target="_blank">更多&gt;&gt;</a>
				</dd>
				<dd class="a_home">官方网址：<a href="http://www.pbccrc.org.cn/" target="_blank">http://www.pbccrc.org.cn/</a></dd>
				<dd class="a_web">一元淘吧证书展示网址：<a href="http://yg.1ytb.cc/xy.jpg" target="_blank">http://yg.1ytb.cc/xy.jpg</a></dd>
			</dl>
			<a class="a_click" target="_blank"></a>
		</div>
	</div>
	<div class="a_container2" id="rz2">
		<div class="a_identify a_right  ad2">
			<a class="a_click" target="_blank"></a>
			<dl>
				<dt><span class="a_logo"></span></dt>
				<dd class="a_head"><span>02</span> 阿里腾讯认证</dd>
				<dd class="a_sm">阿里支付宝和腾讯财付通企业支付认证签约企业</dd>
				<dd class="a_intro">支付宝（中国）网络技术有限公司是国内领先的第三方支付平台，致力于提供“简单、安全、快速”。财付通是腾讯公司于2005年9月正式推出专业在线支付平台，其核心业务是帮助在互联网上进行交易的双方完成支付和收款。致力于为互联网用户和企业提供安全、便捷、专业的在线支付服务。
					<a href="https://www.alipay.com/" target="_blank">更多&gt;&gt;</a>
				</dd>
				<dd class="a_home">支付宝官网：<a href="https://www.alipay.com/" target="_blank">https://www.alipay.com/</a></dd>
				<dd class="a_web">财付通官网：<a href="https://www.tenpay.com/" target="_blank">https://www.tenpay.com/</a></dd>
			</dl>
		</div>
	</div>
	<div class="a_container" id="rz3">
		<div class="a_identify a_left ad3">
			<dl>
				<dt><span class="a_logo"></span></dt>
				<dd class="a_head"><span>03</span> 组织机构认证</dd>
				<dd class="a_sm">组织机构代码证是组织机构在社会经济活动中统一赋予的单位身份证。</dd>
				<dd class="a_intro">组织机构代码是对中华人民共和国内依法注册、依法登记的机关、企、事业单位、社会团体，以及其他组织机构颁发一个在全国范围内唯一的、始终不变的代码标识。国家质检总局负责组织机构代码的管理工作。 
					<a href="http://www.nacao.org.cn/" target="_blank">更多&gt;&gt;</a>
				</dd>
				<dd class="a_home">官方网址：<a href="http://www.nacao.org.cn/" target="_blank">http://www.nacao.org.cn/</a></dd>
				<dd class="a_web">一元淘吧认证查询网址：<a href="https://s.nacao.org.cn/specialResult.html?x=CvMueSbH2x+ymTkiW/DbNuSkHWc=&k=N/yYxClG40hYMNGHK7B+hfA=&s=5xNl0e1UQrRCV07DN2qcgJDPf4g4JPCK/L2+JHRIdRQb+lGAPXTuJ+TJf0tcR0RwawXa1vYOAAInmeY=&y=nisK49z2Mcs3K6R44zKpODj1bdkCjDKCYBUd3uKTcYXtOh7/fVK84LcN0Tgps6vE89S24w==#" target="_blank">https://s.nacao.org.cn/</a></dd>
			</dl>
			<a class="a_click"  target="_blank"></a>
		</div>
	</div>
	<div class="a_container2" id="rz4">
		<div class="a_identify a_right  ad4">
			<a class="a_click"  target="_blank"></a>
			<dl>
				<dt><span class="a_logo"></span></dt>
				<dd class="a_head"><span>04</span> 安信保认证</dd>
				<dd class="a_sm">安信保认证是由信星计划认证</dd>
				<dd class="a_intro">安信保是安全、可信和有保障的简称，也是中国信用服务品牌之一。安信保信用涉及的领域包括商业信用、金融信用与网络信用，分别应用于商业交易、银行贷款和网络交易。围绕专业市场，包括线下及线上，整合信用服务提供综合性的信用解决方案… 
					<a href="http://www.51honest.org/6_index_axb_index.jsp" target="_blank">更多&gt;&gt;</a>
				</dd>
				<dd class="a_home">官方网址：<a href="http://www.51honest.org/" target="_blank">http://www.51honest.org/</a></dd>
				<dd class="a_web">一元淘吧认证查询网址：<a href="https://ss.51honest.org/axbValidatePage.credit?action=detailCert&creditCode=SRG051021" target="_blank">https://ss.51honest.org/axbValidatePage.credit?action=detailCert&creditCode=SRG051021</a></dd>
			</dl>
		</div>
	</div>
	<div class="a_container" id="rz5">
		<div class="a_identify a_left ad5">
			<dl>
				<dt><span class="a_logo"></span></dt>
				<dd class="a_head"><span>05</span> 深圳市市场监督管理局认证</dd>
				<dd class="a_sm">监督管理局认证是由深圳市电子商务服务监管网认证</dd>
				<dd class="a_intro">工商网监电子标识公示（以下简称"工商网监"）是从事网络商品交易及有关服务行为的企业应当履行的法定义务。《网络商品交易及有关服务行为管理暂行办法》(国家工商总局第49号令）、《深圳市市场监督管理局关于电子商务市场主体… 
					<a href="http://www.ebs.gov.cn/CheckService/List" target="_blank">更多&gt;&gt;</a>
				</dd>
				<dd class="a_home">官方网址：<a href="http://www.ebs.gov.cn/" target="_blank">http://www.ebs.gov.cn/</a></dd>
				<dd class="a_web">一元淘吧认证查询网址：<a href="https://cert.ebs.gov.cn/ded24242-c6fc-4b7d-92cb-b7b115b290e7" target="_blank">https://cert.ebs.gov.cn/ded24242-c6fc-4b7d-92cb-b7b115b290e7</a></dd>
			</dl>
			<a class="a_click"  target="_blank"></a>
		</div>
	</div>
	<!--三大服务 -->
	<div class="a_service" id="fw">
		<h1 class="s_head">三大服务保证</h1>
		<div>
			<dl class="a_dl">
				<dt class="d_icon1"></dt>
				<dd class="d_top">100%公平公正</dd>
				<dd class="d_bottom">整个过程完全透明，可随时查看每件商品所有参与信息及揭晓记录。</dd>
			</dl>
			<dl class="a_dl">
				<dt class="d_icon2"></dt>
				<dd class="d_top">100%正品保证</dd>
				<dd class="d_bottom">一元淘吧精心挑选优质服务品牌商家，保障全场商品100%品牌正品。</dd>
			</dl>
			<dl class="a_dl a_last">
				<dt class="d_icon3"></dt>
				<dd class="d_top">全国免运费</dd>
				<dd class="d_bottom">一元淘吧承诺全场商品全国免费快递。（港澳台地区除外。）</dd>
			</dl>
		</div>
	</div>
	<!--企业信息查询 -->
	<div class="a_trust">
		<h1 class="s_head">企业信用信息查询</h1>
		<div class="t_box">
			
			<img class="img img1" src="./zzgs/yxzz.jpg" width="569" height="406">
			<img class="img" src="./zzgs/infor.jpg" width="569" height="406">
				
				<div class="query"><a class="a-all" href="http://www.szaic.gov.cn/" target="_blank">
					<h2 class="step"><span>查询方法</span></h2>
					<div class="step1">
						<dl class="s_dl">
							<dt class="dt">01</dt>
							<dd class="he">官网点击商事主体登记及许可审批信息</dd>
							<dd class="lj">http://www.szaic.gov.cn/</dd>
							<dd><img class="step_img" src="./zzgs/step1.jpg" width="272" height="127"></dd>
						</dl>
					</div>
					<div class="step2">
						<dl class="s_dl">
							<dt class="dt">02</dt>
							<dd class="he">在打开的页面输入公司全称及验证码</dd>
							<dd><img class="step_img" src="./zzgs/step2.jpg" width="337" height="127"></dd>
						</dl>
					</div>
					<div class="step3">
						<dl class="s_dl">
							<dt class="dt">03</dt>
							<dd class="he">查到数据后点击查看详情即可</dd>
							<dd><img class="step_img" src="./zzgs/step3.jpg" width="316" height="127"></dd>
						</dl>
					</div>
					</a>
				</div>
		</div>
	</div>
	<!--网站备案 -->
	<div class="a_enter">
		<h1 class="s_head">网站备案信息</h1>
		<div class="e_box">
			<div class="e_intro">
				<h1>什么是网站备案信息？</h1>
				<p>网站备案是根据国家法律法规需要网站的所有者向国家有关部门申请的备案，主要有ICP备案和公安局备案。非经营性网站[1]备案（Internet Content Provider Registration Record），
					指中华人民共和国境内信息服务互联网站所需进行的备案登记作业。2005年2月8日，中华人民共和国信息产业部部长王绪东签发《非经营性互联网信息服务备案管理办法》，并于3月20日正式实施。
					该办法要求从事非经营性互联网信息服务的网站进行备案登记，否则将予以关站、罚款等处理。为配合这一需要，信息产业部建立了统一的备案工作网站，接受符合办法规定的网站负责人的备案登记。
					网站备案所需资料，企业网站备案需要准备:1份(营业执照)副本彩色扫描件或复印件;1份网站负责人的身份证彩色扫描件或复印件等。</p>
				<p class="e_web">查询网址：<a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">http://www.miitbeian.gov.cn/publish/query/indexFirst.action</a></p>
				<p>查询方法：打开网址后，点击右上角“备案信息查询”，出现右侧界面，输入备案号“粤ICP备15032190号”和验证码即可查询。</p>
			</div>
			<div class="e_img"><a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank"><img src="./zzgs/enter.jpg" width="530" height="293" alt="网站备案信息"></a></div>
		</div>
	</div>
    </div>

    
{wc:templates "index","footer"}